src/main/mule/sample1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="sample1Flow" doc:id="085c1cbc-278c-4177-9490-e5d0c02737b4" >
		<http:listener doc:name="Listener" doc:id="5fe9157d-d3ec-4429-aec9-eee2f98b9287" config-ref="HTTP_Listener_config" path="/sample1"/>
		<os:retrieve doc:name="Retrieve" doc:id="8df15f9f-6d44-4df6-810e-488e6709bc1f" key="lookUpData" objectStore="Object_store">
			<os:default-value ><![CDATA[#[""]]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="c6ee87aa-fa8f-4457-b4ce-468a58869e13" message="payload"/>
	</flow>
</mule>
